#app{
    font-family: "Montserrat", sans-serif;
}

.router-link-exact-active {
  font-weight: 600;
}

nav {
    height: 10vh;
}

a.navbar-brand {
    cursor: default;
}
a.nav-link {
  position: relative;
  color: #333 !important;
  text-decoration: none !important;
}

a.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d63384;
}

a.nav-link:hover::after {
  width: 100%;
}
